// Reset stiles
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    list-style: none;
}

// vars
$white: white;

// Mixins
@mixin flex($direction, $wrap, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $justify;
}