body {
    // direction , wrap, align, justify
    @include flex(column, nowrap, center, flex-start);
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle at bottom, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.title-sect {
    // direction , wrap, align, justify
    @include flex(row, wrap, center, space-between);
    width: 50%;
    border: 3px solid hsl(217, 16%, 45%);
    border-radius: 15px;
    padding: 20px 30px;
    margin-top: 50px;
    .score-div {
        // direction , wrap, align, justify
        @include flex(column, nowrap, center, center);
        width: 130px;
        height: 100px;
        background-color: #ffffff;
        border-radius: 10px;
        span {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-weight: 600;
            font-size: 12px;
            color: hsl(229, 64%, 46%);
            letter-spacing: 2px;
        }
        p {
            font-family: 'Barlow Semi Condensed', sans-serif;
            font-weight: 700;
            font-size: 62px;
            color: hsl(229, 25%, 31%);
            letter-spacing: 0;
        }
    }
}

.play-bord {
    // direction , wrap, align, justify
    @include flex(column, nowrap, center, flex-start);
    width: 300px;
    height: 300px;
    background: transparent url("../images/bg-triangle.svg") no-repeat center center;
    background-size: contain;
    margin-top: 150px;
    position: relative;
    .bord {
        // direction , wrap, align, justify
        @include flex(column,nowrap,center,center);
        width: 60%;
        height: 60%;
        border: none;
        border-radius: 5000px;
        position: absolute;
        cursor: pointer;
        &:nth-child(1) {
            background-image: linear-gradient(to top, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
            top: -20%;
            left: -70px;
            box-shadow: 0 10px hsl(39, 100%, 18%);
        }
        &:nth-child(2) {
            background-image: linear-gradient(to top, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
            top: -20%;
            right: -70px;
            box-shadow: 0 10px hsl(230, 100%, 18%);
        }
        &:nth-child(3) {
            background-image: linear-gradient(to top, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
            bottom: -20%;
            box-shadow: 0 10px hsl(349, 100%, 18%);
        }
        div {
            width: 75%;
            height: 75%;
            background-color: #ffffff;
            border: none;
            border-radius: 5000px;
        }
    }
}